{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoName</title>
    <link rel="stylesheet" href="{% static 'AIDescGen/css/base_style.css' %}">
</head>
<body>
    {% include 'AIDescGen/navbar.html' %}
    <div class="content">
        {% block content %}
        <!-- This block will be overridden by child templates -->
        {% endblock content %}
    </div>
    {% include 'AIDescGen/footer.html' %}

    <script>
        function toggleGenerateButton() {
        var files = document.getElementById('image_files').files;
        var generateButton = document.getElementById('generate-btn');
        generateButton.disabled = !files.length;
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            const mobileMenu = document.getElementById('mobile-menu');
            const navBar = document.querySelector('.navbar');
            
            mobileMenu.addEventListener('click', () => {
                navBar.classList.toggle('active');
            });
        });
    </script>
</body>
</html>


