<footer class="footer">
    <div class="footer__container">
        <p class="footer__text">Company Name © All rights reserved.</p>
        <div class="footer__links">
            <a href="/blog" class="footer__link">Blog</a>
            <a href="/help" class="footer__link">Help Center</a>
            <a href="/guides" class="footer__link">Guides</a>
            <a href="/terms" class="footer__link">Terms</a>
            <a href="/privacy" class="footer__link">Privacy</a>
        </div>
        <div class="footer__social">
            <a href="https://linkedin.com" class="footer__social-link">LinkedIn Icon</a>
            <a href="https://slack.com" class="footer__social-link">Slack Icon</a>
            <a href="https://discord.com" class="footer__social-link">Discord Icon</a>
            <a href="https://youtube.com" class="footer__social-link">YouTube Icon</a>
            <a href="https://github.com" class="footer__social-link">GitHub Icon</a>
        </div>
    </div>
</footer>
