<nav class="navbar">
    <div class="navbar__container">
        <a href="/" class="navbar__logo">NoName</a>

        <!-- Hamburger Menu Icon -->
        <button class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>

        <div class="navbar__menu">
            {% if request.resolver_match.url_name == 'user_files' %}
            <a href="/" class="navbar__item">Home</a>
            {% else %}
            <a href="{% url 'user_files' %}" class="navbar__item">Docs</a>
            {% endif %}
            <a href="/pricing" class="navbar__item">Pricing</a>
            <a href="/signup" class="navbar__item">{{ user.username }}</a>
            <a href="{% url 'logout' %}" class="navbar__item navbar__item--highlight">Logout</a>
            <!-- <a href="/blog" class="navbar__item">Blog</a> -->
        </div>
    </div>
</nav>

  